    </main>
    <footer>
        <div class="container-footer">
            <div href="#">Made and developed by <a href="#">Samuel Lima</a></div>
        </div>
    </footer>
    <script src="assets/js/script.js" ></script>
</body>
</html>